* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
    --primary-colour: #055a05;
    --colour1: #264653;
    --colour2: #e9c46a;
    --heading-font: "Times New Roman","Georgia", serif;
    --body-font: Arial, Helvetica, sans-serif;
    --image-border: 1px solid rgb(0 0 0 / .2);
    --image-box-shadow: 0 0 30px gray;
    --image-height: auto;
}

header{
    background-color: var(--primary-colour);
    color: var(--colour2)
}
body {
    font-family: var(--body-font);
    color: var(--colour1);
}
header, main, footer {
    width: 840px;
    margin: 0 auto;
}
h1 h2 {
    font-family: var(--heading-font);
    color: var(--primary-colour);
    background-color: - var(--colour2) ;
}

nav, p, section, article {
    margin:16px;
    padding: 8px;
}

.socialmedia a {
    text-decoration: none;
    width: 50px;
}

.hero {
    position: relative
}
.hero img {
    display: block;
    width: 100%;
    height: auto;
    height: var(--image-height);
    border: var(--image-border);
    padding: 2px;
    box-shadow: var(--image-box-shadow);
}

h1 {
    position: absolute;
    top:10px;
    width: 100%;
    padding: 16px;
    text-align: center;
    opacity: 0.7;
    background-color: var(--colour1);
    color: #fff;
}

.hero article{
    position: absolute;
    top: 400px;
} 


.hero article img{
    float: right;
    width: 125px;
}