* {
  margin: 0;
  padding: 0;
  box-sizing:
  border-box;
} 
:root {
  --primary-colour: white;
  --colour1:#336699;
  --colour2: black;
  --heading-font: "Times New Roman","Georgia", serif;
  --image-border: 1px solid rgb(0 0 0 / .2);
  --image-box-shadow: 0 0 30px gray;
  --image-height: auto;
}
header {
  display: grid;
  grid-template-columns: 300px 1fr;
  padding: 1rem;
  width: 840px;
  margin: 0 auto;
  background-color: var(--colour1);
  color: var(--primary-colour);
}
img {
  justify-self: center;
}

nav {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  gap: 30px; align-self: center;
}

body {
  font-family: var(--body-font);
  color: var(--colour1);
} 

header, main, footer {
  width: 840px;
  margin: 0 auto;
}

h1, h2 {
  font-family: var(--heading-font);
  color: var(--primary-colour); 
  background-color: var(--colour1);
  text-align: center;
  width: 840px;
} 

.history {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 0.5rem;
  width: 840px; 
  margin: 0 auto; 
  padding-top: 5px; 
  align-items: center; 
  text-align: center; 
  color: var(--colour2);
 }
 
 .history img { 
  width: 100%; 
  max-width: 200px; 
  height: auto; 
  justify-self: center; 
}

.adventure {
  display: grid;
  grid-template-columns: repeat(5, 1fr); 
  gap: 0.5rem; 
  width: 840px; 
  margin: 0 auto; 
  padding-top: 5px; 
  color: var(--colour2);
 }
 
 .adventure figure { 
  text-align: center; 
}

.adventure img { 
  width: 100%;
  height: auto;
} 
 
 nav, p, section, article {
  margin:16px;
  padding: 8px;
} 
 .socialmedia { 
  display: flex; 
  text-decoration: none; 
}

.socialmedia a { 
  text-decoration: none; 
}

.socialmedia img {
  display: inline-block;
  width: 50px; 
  height: auto; 
  margin: 0 5px; 
} 

.hero { 
  position: relative;
  width: 840px; 
  margin: 0 auto; 
  padding-top: 5px;
  color: var(--color2); 
}

.hero img { 
  display: block; width: 100%;
  height: auto; 
  border: var(--image-border); 
  padding: 2px;
  box-shadow: var(--image-box-shadow); 
} 

.hero h1 { 
  position: absolute; top:10px; 
  width: 100%; 
  padding: 16px; 
  text-align: center; 
  opacity: 0.7; 
  background-color: var(--colour1); 
  color: var(--primary-colour); 
}

.hero article{ 
  position: absolute; top: 400px; 
}

.hero article img{ 
  float: right; width: 125px;
} 

footer {
  display: flex; 
  justify-content: space-between; 
  align-items: center;
  color: var(--colour2); 
  padding: 1rem; 
}