* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
} 
:root {
  --primary-colour: #ffffff;
  --colour1:#336699;
  --colour2: #000000;
  --heading-font: "Times New Roman","Georgia", serif;
  --image-border: 1px solid rgb(0 0 0 / .2);
  --image-box-shadow: 0 0 30px gray;
}

table {
  width: 600px;
}

thead, tfoot {
    background-color: var(--colour2);
    color: var(--primary-colour);
    text-align: center;
    font-weight: bold;
}
td {
    border: 1px solid rgb(160 160 160);
    padding: 8px 10px;
}

td:last-of-type {
    text-align: center;
}

tbody>tr:nth-of-type(even) {
    background-color: rgb(237 238 242);
}