 */

:root {
    --nav-color: steelblue;
    --image-border: 2px solid black;
    --image-padding: 5px;
    --image-box-shadow: 0 0 30px gray;
    --image-height: auto;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.grid{
    display: grid;
    align-items: center;
}

header, .grid, footer {
    max-width: 840px;
    margin: auto
}

nav {
    color: var(--nav-color);
    display: block;
    background-color: steelblue;
    padding: 1rem;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

nav a {
    color: #fff;
    display: block;
    background-color: var(--nav-color);
    padding: .5rem;
    text-decoration: none;
    font-size: 1.2rem;
    font-weight:700;

}
h1{
    color: darkblue;
    padding: 5px;
    border-bottom: 5px solid black;
}
img {
    width: 200px;
    height: var(--image-height);
    border: var(--image-border);
    padding: 2px;
    box-shadow: var(--image-box-shadow);
}
p {
    padding: 10px;
}
main {
    max-width: 840px;
    margin: 1rem;
    grid-column: 2/3;
}

main img{
    width: 150px;
    height: var(--image-height);
    border:  var(--image-border);
    padding: var(--image-padding);
    box-shadow: var(--image-box-shadow);
    float: right;
    grid-column: 2;
}
aside{
    width: 20em;
    text-align: center;
    position: relative;
    grid-column: 1/2;
    grid-row: 1/2;
}

aside img{
    width: 250px;
    height: var(--image-height);
    border:  var(--image-border);
    padding: var(--image-padding);
    box-shadow: var(--image-box-shadow);
}

aside h2{
    position: absolute;
    top: 20px;
    left: 60px;
}

footer{
    margin-top: 15px;
    border-top: 1px solid #000;
    text-align: center;
}

/* Class Selectors */

.box {
  margin: 1rem;
  border: 1px solid rgba(0, 0, 0, .1%);
  padding: 1rem;
  background-color: #eeed;
  color: #000;
}