 */

:root {
    --nav-color: white;
    --image-border: 1px solid rgb(0 0 0 / .2);
    --image-padding: padding: 5px;
    --image-box-shadow: 0 0 30px gray;
    --image-height: auto;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

nav {
    color: var(--nav-color);
    display: block;
    background-color: #eee;
    padding: 20px;
}

nav a {
    color: var(--nav-color);
    display: block;
    background-color: steelblue;
    padding: 5px;
}
h1{
    color: darkblue;
    padding: 5px;
}
img {
    width: 200px;
    height: var(--image-height);
    border: var(--image-border);
    padding: 2px;
    box-shadow: var(--image-box-shadow);
}
p {
    padding: 10px;
}
main{
    max-width: 600px;
}
main img{
    width: 150px;
    height: var(--image-height);
    border:  var(--image-border);
    padding: var(--image-padding);
    box-shadow: var(--image-box-shadow);
    float: right;
}
aside{
    width: 20em;
    text-align: center;
    position: relative;
}

aside img{
    width: 250px;
    height: var(--image-height);
    border:  var(--image-border);
    padding: var(--image-padding);
    box-shadow: var(--image-box-shadow);
}

aside h2{
    position: absolute;
    top: 20px;
    left: 60px;
}

footer{
    margin-top: 15px;
    border-top: 1px solid #000;
    text-align: center;
}

/* Class Selectors */

.box {
  margin: 1rem;
  border: 1px solid rgb(0, 0, 0, .1%);
  padding: 1rem;
  background-color: #eeed;
  color: #000;
}