:root {
    --nav-color: white;
    --image-border: 1px solid rgb(0 0 0 / .2);
    --image-padding: padding: 5px;
    --image-box-shadow: 0 0 30px gray;
    --image-height: auto;
}

nav {
    color: var(--nav-color);
    display: block;
    background-color: #eee;
    padding: 20px;
}

nav a {
    color: var(--nav-color);
    display: block;
    background-color: #eee;
    padding: 20px;
}
h1 {
    color: darkblue;
}
img {
    width: 200px;
    height: var(--image-height);
    border: var(--image-border);
    padding: 2px;
    box-shadow: var(--image-box-shadow);
}
p {
    padding: 0px;
}
main{
    max-width: 600px;
}
main img{
    width: 150px;
    height: var(--image-height);
    border:  var(--image-border);
    padding: var(--image-padding);
    box-shadow: var(--image-box-shadow);
}
aside{
    width: 600px;
    margin: 20px;
    border: 1px solid rgb(0 0 0 / .2);
    padding: 10px;
    background-color: #eee;
    color:#333;
}
aside img{
    width: 200px;
    height: var(--image-height);
    border:  var(--image-border);
    padding: var(--image-padding);
    box-shadow: var(--image-box-shadow);
}
footer{
    margin-top: 15px;
    border-top: 1px solid #000;
    text-align: center;
}